<section class="footer">
  <div>
    <p>&#169; Site designed and developed by Clint Langwell</p>
  </div>
  <div class="social-container">
    <a href="https://github.com/ClintLangwell?tab=repositories" target="_blank">
      <img
        class="footer-img"
        src="./assets/Octocat.png"
        alt="github octocat image"
    /></a>
    <a href="https://www.linkedin.com/in/ClintLangwell/" target="_blank">
      <img
        class="footer-img"
        src="./assets/LI-In-Bug.png"
        alt="linked in bug icon"
    /></a>
  </div>
</section>
