.footer {
  position: fixed;
  bottom: 0;
  background-color: blue;
  height: 125px;
  width: 100%;
  color: white;
  display: flex;
  padding-left: 5px;
  justify-content: space-between;
  align-items: center;
}

.social-container {
  margin: 0 15px 0 15px;
}

.footer-img {
  height: 50px;
  width: 50px;
  padding: 5px;
}
