<section class="header">
  <app-header></app-header>
</section>
<section class="main-container">
  <div class="img-container">
    <img class="img" src="./assets/headshot.jpg" alt="" />
  </div>
  <h2>Software Developer</h2>
  <p class="summary">
    Before choosing development as a career path, I was a pick up and delivery
    truck driver for a manufacturing company, then moved into a shipping
    supervisor position in that company. I then moved into the steel industry
    for a couple years then Covid-19 hit. It was at that point that I decided to
    turn something I enjoyed and loved doing into a career path. I found and
    enrolled into Grand Circus front-end coding boot camp, where I solidified
    and cemented some self taught skills with HTML,CSS, and Javascript. I also
    learned some new skills like Angular, Typescript and SQL. I see the world
    moving father into tech, and I want to be a part making that happen by doing
    what I love, and enjoy, rather than just watching it happen.
  </p>
</section>

<app-footer></app-footer>
